#bicho {
    color: crimson;
    font-size: 20px;
}

.messi {
    color: cyan;
    font-size: 20px;
}

#xdddd {
    color: darkgreen;
    font-size: 20px;
}
p {
    color: darkslategray;
    font-size: 22px;
}