* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: serif;
    color: lightgreen;
    margin-bottom: 10px;
}

#page-tittle {
    font-family: Arial, Helvetica, sans-serif;
}

.tittle {
    font-size: 18px;
    font-family: monospace;
}

#main-nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: lightyellow;
    background-color: mediumaquamarine;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

#main-nav .blog {
    color: red;
    background-color: royalblue;
}